// Variables

// Fonts
$Lora: 'Lora', serif;
$SourceSans: 'Source Sans Pro', Helvetica, sans-serif;

// Colors
$text: #333333;
$light: #9B9B9B;
$link: #E87345;


// Media
$med: "only screen and (min-width : 48rem)";
$lrg: "only screen and (min-width : 60rem)";